.card-slot[data-v-d976d494] {
    height: 100%
}

.card-title[data-v-d976d494] {
    background-color: #030062;
    color: #fff;
    padding: .5rem;
    min-height: 200px;
    font-family: SourceHanSansCN-Bold, SourceHanSansCN
}

.card-title[data-v-d976d494] .el-card__header {
    border: none;
    margin-left: 3px;
    border-left: 5px solid #02c6ff;
    padding: .2rem;
    font-size: 18px;
    font-weight: 700;
    color: #fff
}

.card-title[data-v-d976d494] .el-card {
    background-color: transparent;
    border: none !important
}

.card-title[data-v-d976d494].el-card {
    border: none !important
}

.dv-border-box-8 .border-box-content[data-v-d976d494] {
    position: relative;
    width: auto;
    height: auto
}

header[data-v-3040f91e] {
    height: 88px;
    background-image: url(2_files/top.a15da9f3.png);
    background-position: 50%;
    background-size: 100% 100%
}

header .title[data-v-3040f91e] {
    margin: auto 0;
    text-align: center;
    height: 88px;
    line-height: 88px
}

header .title>img[data-v-3040f91e] {
    height: 42px;
    margin-top: 20px;
    line-height: 88px
}

.title-info[data-v-ba5f8e0e] {
    color: #fff;
    padding: 16px 20px
}

.content[data-v-ba5f8e0e] {
    text-align: left;
    position: relative;
    height: 60px
}

.no-border[data-v-ba5f8e0e] {
    margin-top: 20px
}

.el-avatar~.content[data-v-ba5f8e0e] {
    margin-left: 76px
}

.car-container[data-v-3c69cd3a] {
    border: none !important
}

.bpx[data-v-3c69cd3a] {
    display: flex
}

[data-v-3c69cd3a] .el-collapse-item__header.is-active {
    background-color: #080570
}

.car-container[data-v-3c69cd3a] .el-descriptions__body {
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .85)
}

.car-container[data-v-3c69cd3a] .el-collapse-item__wrap {
    background-color: #080570
}

.car-container .title[data-v-3c69cd3a] {
    color: #fff;
    font-weight: 700;
    margin-left: 1rem
}

.car-container .dangertitle[data-v-3c69cd3a] {
    color: #ff4732;
    font-weight: 700;
    margin-left: 1rem
}

.car-container .dangertitle[data-v-3c69cd3a] .el-tag {
    color: #ff4732;
    background-color: #ff46323d;
    border: none;
    margin-left: 1rem
}

[data-v-3c69cd3a] .el-collapse-item__header {
    height: auto
}

[data-v-3c69cd3a] .el-collapse-item__content,
[data-v-3c69cd3a] .el-collapse-item__header,
[data-v-3c69cd3a] .el-collapse-item__wrap {
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .85);
    border: none
}

.tool-tip {
    width: 283px;
    height: 165px
}

.tool-tip,
.tool-tipDes {
    font-family: SourceHanSansCN-Regular, SourceHanSansCN;
    font-weight: 400;
    color: #fff;
    line-height: 22px
}

.tool-tip,
.tool-tip .title,
.tool-tipDes {
    font-size: 14px;
    text-shadow: 0 2px 4px rgba(59, 77, 211, .8)
}

.tool-tip .title {
    width: 69px;
    height: 14px;
    font-family: SourceHanSansCN-Bold, SourceHanSansCN;
    font-weight: 700;
    color: #ff4732;
    line-height: 21px;
    margin-bottom: 10px
}

.tool-tip .tag {
    width: 46px;
    height: 22px;
    background: #ff463238;
    border-radius: 4px;
    color: #ff4732
}

.el-row[data-v-61be512e] {
    margin-bottom: 30px
}

[data-v-61be512e] .el-scrollbar__wrap {
    overflow-x: hidden
}